@model Pelicula
<h1 style="color: lightcoral">Detalles de película</h1>
<h3>Id de película: @Model.IdPelicula</h3>
<h3>Título: @Model.Nombre</h3>
<h3>Director: @Model.Director</h3>
<h3>Clasificación: @Model.Clasificacion</h3>
<br />
<a asp-action="Index"
   asp-controller="Home"
   class="btn btn-secondary">
    Volver a la lista
</a>






